.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	word-wrap: normal !important;
}

.wpcf7 form .wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
	border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
	border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
	border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-not-valid-tip {
	color: #dc3232; /* Red */
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
	position: relative;
	top: -2ex;
	left: 1em;
	z-index: 100;
	border: 1px solid #dc3232;
	background: #fff;
	padding: .2em .8em;
	width: 24em;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-spinner {
	visibility: hidden;
	display: inline-block;
	background-color: #23282d; /* Dark Gray 800 */
	opacity: 0.75;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 100%;
	padding: 0;
	margin: 0 24px;
	position: relative;
}

form.submitting .wpcf7-spinner {
	visibility: visible;
}

.wpcf7-spinner::before {
	content: '';
	position: absolute;
	background-color: #fbfbfc; /* Light Gray 100 */
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 100%;
	transform-origin: 8px 8px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
	.wpcf7-spinner::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.wpcf7 input[type="file"] {
	cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
	direction: ltr;
}

.wpcf7-form-control-wrap.ho-va-ten input[type=text],.wpcf7-form-control-wrap.phone-number input[type=tel] {
	width: 100%;
	padding: 9px 20px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: left;
	box-sizing: border-box;
}

.form-dang-ky-goi-bao-hiem {
	border-style: solid;
	border-color: #E42323;
	transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
	padding: 10px;
}
.bh-elementor-widget-container {
	padding: 10px 10px 10px 10px;
	background-color: transparent;
	background-image: linear-gradient(
			180deg,#22222280 0%,#F2E7E9 100%);
}
h2.bh-elementor-heading-title {
	color: #A41A1F;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 1.5em;
	text-shadow: 0 0 10px rgb(0 0 0 / 30%);
	text-align: center;
}
form.wpcf7-form >span {
	line-height: 40px;
}
.wpcf7-form-control-wrap.ho-va-ten,.wpcf7-form-control-wrap.phone-number{
	margin: 25px;
}
.cho-rieng-con,.cho-ban-than,.cho-hai-me-con,.cho-gia-dinh {
	margin: 5px;
}
/* Desktops and laptops ----------- */
@media (min-width: 768px) and (max-width: 979px) {
	#form-submit {
		margin-left: 25px;
	}
}
@media (min-width: 1200px) {
	#form-submit {
		margin-left: 25px;
	}
}

@media only screen and (max-device-width: 480px) {
	.wpcf7-form-control-wrap.ho-va-ten,.wpcf7-form-control-wrap.phone-number{
		margin: 0;
	}
	.cho-rieng-con,.cho-ban-than,.cho-hai-me-con,.cho-gia-dinh {
		margin-left: -8px;
	}
	#form-submit {
		margin-left: 0;
	}
}