@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --primary-color: #D31145;
    --white-color: #FFFFFF;
    --dark-color: #3E3E3E;
    --pink-color: #FFDBE5;
}

*{
    box-sizing: border-box;
}

body{
    color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    padding:0;
    margin:0
}

footer li a {
    color: #fff;
}

footer a:visited {
    color: #ef6cef;
}

footer a:hover {
    color: #fff;
}

.header-main a {
    color: var(--primary-color);
}

.btn-danger {
    background-color: var(--primary-color);
    transition: .4s ease all;
}

a {
    color: var(--dark-color);
}

.btn-readMore a {
    color: #fff;
}

.overflow-hidden {
    overflow: hidden;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.breadcrumb .active a {
    font-weight: bold;
}

.text-pri{
    color:var(--primary-color);
}

.bg-pri{
    background: var(--primary-color);
}

.font-56{
    font-size: 56px;
}

.close {
    background-color: #fff !important;
    opacity: 1;
    border-radius: 42px;
    padding: 5px 10px !important;
    margin: 0px !important;
}

/*------ TOPBAR ------*/

.topbar-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.topbar-social ul {
    display: flex;
}

.topbar-social ul li a img {
    width: 34px;
}

.topbar-social ul li a {
    padding-right: 10px;
}

.topbar-social ul li:last-child a {
    padding-right: 0;
}

.topbar {
    padding: 15px 0;
    background-color: var(--pink-color);
}

.topbar-nav ul {
    display: flex;
}

.topbar-nav ul li:first-child a {
    padding-right: 20px;
    border-right: 1px solid;
}

.topbar-nav ul li:last-child a {
    padding-left: 20px;
}

/*------ HEADER MAIN ------*/

.header-main__right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact-box {
    display: flex;
    align-items: center;
}

.contact-box .contact-box__icon {
    padding: 10px 12px;
    border: 1px solid rgb(112 112 112 / .3);
    border-radius: 99%;
    margin-right: 20px;
}

.contact-box .contact-box__icon i {
    font-size: 20px;
    color: var(--primary-color);
}

.contact-box__text strong {
    display: block;
    font-size: 20px;
    color: var(--primary-color);
}
.contact-box__text span {
    font-weight: 300;
}

.contact-box {
    margin-right: 30px;
}

.btn-apply {
    background: transparent;
    border: 2px solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 10px 20px;
}

.btn-apply:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

/*------ HEADER BOTTOM ------*/

.header-bottom {
    position: relative;
    z-index: 10;
}

.header-bottom .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    line-height: 50px;
}

.header-bottom .header-bottom-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    border-radius: 5px;
}

.nav-link, .navbar-nav a {
    color: var(--white-color);
    font-weight: 500;
    padding: 20px 0px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--white-color) !important;
    background: #b80334;
    border-radius: 5px;
}

.btn-search {
    min-height: 64px;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(255 255 255 / .25);
    color: var(--white-color);
    font-weight: 300;
    padding: 0 30px;
}

.btn-search:hover{
    background: #b80334;
}

.header-bottom .form {
    position: absolute;
    right: 14px;
    top: 0;
    opacity: 0;
    z-index: -1;
    background: var(--primary-color);
    padding: 20px;
    border-radius: 5px;
    color: var(--white-color);
}

.header-bottom .container {
    position: relative;
}

.header-bottom .form input {
    border-radius: 5px;
    padding: 5px;
    border: unset;
}

/*------ SLIDER ------*/

.slider {
    margin-top: -30px;
    z-index: 1;
    overflow: hidden;
}
.banner{
    position: relative;
    min-height: 800px;
    display: flex;
    align-items: center;
}
.bg-fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

.slider-item__boxText {
/*    padding-top: 170px;*/
    color: var(--white-color);
}

.slider-item__boxText h1 {
    font-weight: 500;
    font-size: 70px;
}

.slider-item__boxText p {
    font-size: 20px;
}

.btn-readMore {
    padding: 10px 20px;
}

.btn-readMore i {
    margin-left: 30px;
}

/*------ HEADER COVID ------*/

#home-covid {
    padding-top: 40px;
}

.title-border-right.title {
    text-align: right;
    padding-right: 20px;
    border-right: 3px solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

#home-covid p {
    font-weight: 300;
}

.card-covid {
    border: unset;
    position: relative;
    overflow: hidden;
}

.card-covid figcaption {
    position: absolute;
    bottom: -100%;
    height: 100%;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgb(211 17 69 / .8);
    color: var(--white-color);
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.card-covid figcaption h3 {
    font-size: 18px;
    line-height: 1.35em;
    position: relative;
}
.card-covid figcaption h3:after{
    content:'';
    display: block;
    width: 80px;
    height: 3px;
    background: var(--white-color);
    margin: 10px auto;
}

.card-covid:hover figcaption{
    height: 100%;
    bottom: 0;
    opacity: 1;
    z-index: 1;
    cursor: pointer;
}

.slick-current .card {
    background: #B8123E;
    color: #fff;
}

.slick-current path {
    fill: #fff;
}

/*------ HEADER OUR PRODUCTS ------*/

#home-ourproduct{
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 80px;
    background-image: url(../image/bg_ourproduct.png);
    background-size: cover;
    background-color: #ffdbe596;
    position: relative;
}
#page-ourproduct{
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../image/bg_ourproduct.png);
    background-size: cover;
    background-color: #FFDBE5;
    position: relative;
}
.home-ourproduct__img {
    margin-top: -110px;
    position: relative;
}

.home-ourproduct__img:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid;
    border-color: var(--primary-color);
    border-radius: 10px;
    background: transparent;
    top: 35px;
    right: -40px;
    z-index: ;
}

.home-ourproduct__img img {
    z-index: 20;
    position: relative;;
}

.home-ourproduct__text {
    padding-left: 80px;
    padding-top: 50px;
}

.home-ourproduct__text h1 {
    color: var(--primary-color);
    font-size: 56px;
}

.home-ourproduct__text p {
    margin-bottom: 30px;
}

/*------ HEADER SERVICES ------*/

#home-services{
    padding: 50px 0;
}

.services-slider__item svg, .services-slider__item img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.services-slider__item .card {
    padding: 35px 20px;
    margin: 10px;
    box-shadow: 0px 6px 6px #3E051421;
    border-radius: 10px;
    border: 1px solid #F4F4F4;
    min-height: 280px;
}

.services-slider__item .card p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px !important;
}

.services-slider__item .card:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

.services-slider__item .card:hover svg path {
    fill: var(--white-color);;
}

.home-services__slider .slick-dots li button:before {
    color: var(--primary-color);
    font-size: 20px;
}

.home-services__slider .slick-dots li.slick-active button:before {
    color: var(--primary-color);
}

.home-services__slider .slick-dots{
    bottom: -40px;
}




.slider-4{
    overflow: hidden;
}

.slider-4__item {
    padding: 70px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-blend-mode: overlay;
    color: var(--white-color);
    position: relative;
    z-index: 999;
}

.slider-4__item h2 {
    font-size: 36px;
    font-weight: 700;
    z-index: 999;
}

.text-border {
    font-size: 56px;
    font-weight: 600;
    padding: 20px 90px;
    border: 1px solid;
    display: inline-block;
    border-radius: 50px;
    margin-top: 30px;
    background-color: #ffffff42;
}

.slider-4__item .btn-readMore {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.slider-4 .slick-prev {
    width: 40px !important;
    height: 40px !important;
    z-index: 999;
    left: 15%;
}

.slider-4 .slick-prev:before,
.slider-4 .slick-next:before {
    font-size: 40px !important;
}

.slider-4 .slick-next {
    width: 40px !important;
    height: 40px !important;
    right: 15%;
}

.home-intro {
    padding: 50px;
    color: var(--white-color);
}

.intro-box {
    padding: 30px;
    padding-left: 20px;
    padding-right: 15px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
}
.intro-box h2 {
    font-size: 30px;
    line-height: 1.25em;
}


.home-tuyendung{
    background:  #FFDBE5 url(../image/bg_ourproduct.png);
    background-size: cover !important;
    background-repeat: no-repeat;
    padding: 50px;

}

.home-tuyendung .col-md-6.text-sm-center {
    text-align: left !important;
}


.blog-page{
    background:  #FFDBE5 url(../image/bg-4.png);
    background-size: cover !important;
    background-repeat: no-repeat;
    padding: 20px;
}

.home-tuyendung .card{
    border: unset;
}
.home-tuyendung .card figcaption {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    padding: 20px;
    background: #B8123E;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.home-tuyendung .card figcaption h3 {
    font-size: 18px;
    text-align: center;
}

.home-video{
    padding: 60px;
}

.home-event{
    background: url(../image/bao-hiem-nhan-tho-co-ky-han-la-gi.jpg);
    background-size: cover !important;
    min-height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 10000px #121212a8;
}

footer {
    background: #333333;
    padding-top: 60px;
}

.footer-main {
    display: flex;
}

.footer-right {
    width: calc(100% - 180px);
    background: #B8123E;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 5px;
}

.footer-right p {
    font-size: 26px;
    margin-bottom: 0;
}

.footer-right p:last-child {
    font-weight: 600;
    font-size: 36px;
}

.footer-bottom{
    /*padding-top: 50px;*/
    padding-bottom: 30px;
    color: var(--white-color);
}

.footer-bottom i {
    margin-right: 10px;
}

.footer-bottom i:before {
    font-size: 20px;
}

.footer-bottom li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-bottom__title {
    margin-bottom: 20px;
}

.footer-bottom hr {
    border-color: #fff;
}

.copy-right {
    padding: 10px;
    text-align: center;
    background: #b9143e;
    color: var(--white-color);
    font-weight: 300;
}

.collapse:not(.show) {
    display: block;
}


/* Page */

.banner-page {
    margin-top: -30px;
}

.banner-item__boxText {
    padding-top: 60px;
}

.banner-item__boxText p {
    font-size: 28px;
    color: var(--white-color);
    text-align: center;
}

.breadcrumb {
    background: transparent;
}

.image-s img {
    object-fit: contain;
}

.image-s {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 30px;
    margin-bottom: 20px;
    margin: auto;
    background-color: #fff;
}

.text-s{
    margin-top: 20px;
}

.slider-services-item {
    width: 200px;
    overflow: hidden;
}

.slick-center .image-s {
    width: 170px !important;
    height: 170px !important;
    background: var(--primary-color);
    border: 5px;
}

.slick-center .text-s p{
    color:var(--primary-color);
    text-transform: uppercase;
}
.scrollbar .content-modal{
    max-height: 500px;
    overflow-y: scroll;
}
.scrollbar .content-modal::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar .content-modal::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollbar .content-modal::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: var(--primary-color);
}

.product-card {
    border: 0;
}

.product-card figcaption {
    margin: 0 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    padding: 5px;
    margin-top: -20px;
}

.product-card figcaption p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}

.product-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    height: 3em !important;
    border-radius: 0px !important;
  }
  /* Arrow */
  .select i.fas.fa-chevron-down {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #34495e;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

  /* Transition */
  .select:hover i.fas.fa-chevron-down {
    color: #f39c12;
  }

  .slick-prev:before, .slick-next:before{
    font-size: 36px !important;
  }


  .product-item h3 {
    font-size: 24px;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    min-height: 56px;
}

.icon-box img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.icon-box {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.icon-box .icon-box-text {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.icon-box-text a {
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}

.icon-box-text a:hover {
    color: var(--primary-color);
}

.border-bottom,
.border-right {
    border-color: var(--primary-color) !important;
}

.nav.nav-pills {
    justify-content: center;
    background: rgb(62 62 62 / .1);
    border-radius: 5px;
}

.nav-pills .nav-link {
    color: #3E3E3E;
    text-align: center;
    text-transform: uppercase;
}

.nav-pills .nav-item {
    flex: 0 0 33.33333333%;
}

.nav-pills .nav-link.active {
    background: #B8123E;
}

.blog-slider-item .card {
    margin: 10px;
    border: unset;
    background-color: transparent;
}

.blog-slider-item figcaption {
    text-align: center;
    margin-top: 10px;
}

.blog-slider-item figcaption p {
    color: #000;
    font-weight: 300;
}

.btn-thele {
    padding: 10px 50px;
}

@media ( max-width: 1600px ) {
    .slider-item__boxText h1 {
        font-size: 50px;
    }

    .slider-item__boxText {
        max-width: 42%;
    }
}

@media screen and (max-width: 992px) {
    .header-main__right {
        width: 100%;
        flex: 0 0 100%;
    }

    .header-main__left {
        flex: 0 0 100%;
    }

    .navbar > .container, .navbar > .container-fluid {
        flex-wrap: wrap;
    }

    .contact-box__text {
        font-size: 14px;
    }

    .contact-box {
        flex: 0 0 33.33333333%;
        margin-right: 15px;
    }

    .contact-box__text strong {
        font-size: 16px;
    }

    .nav-link, .navbar-nav a {
        font-size: 14px;
        padding: 15px 0 !important;
    }

    .home-ourproduct__text h1 {
        font-size: 28px;
    }

    #home-ourproduct {
        padding-top: 0;
    }

    .home-ourproduct__img {
        margin-top: -50px;
    }

    .text-border {
        font-size: 28px;
    }

    .home-event {
        min-height: 350px;
    }

    .banner {
        min-height: 500px;
    }

    .slider-item__boxText h1 {
        font-size: 28px;
    }

    .intro-box h2 {
        font-size: 22px;
    }

    .footer-bottom li {
        font-size: 12px;
    }

    .footer-right p:last-child {
        font-size: 20px;
    }

    .footer-right p {
        font-size: 20px;
    }

    .footer-right {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media( max-width: 768px){
    .topbar-social ul li a img {
        width: 20px;
    }
    .header-main__left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-main__right {
        justify-content: flex-start;
        display: none;
    }

    .header-main__right .btn {
        display: none;
    }
    .slider{
        margin-top: 0;
    }
    .collapse:not(.show) {
        display: none;
    }
    .header-bottom .container {
        padding: 0;
    }

    .header-bottom .navbar-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .header-bottom .header-bottom-flex {
        flex-direction: column;
        border-radius: 0;
    }
    .btn-search{
        width: 100%;
        border-radius: 0%;
    }
    .home-ourproduct__img:before {
        right: 0;
    }

    .home-ourproduct__text {
        padding-left: 0;
    }
    .home-ourproduct__img:before {
        right: 0;
    }

    .home-ourproduct__text {
        padding-left: 0;
    }

    .slider-4__item {
        padding: 20px;
    }

    .text-border {
        font-size: 20px;
        padding: 12px 20px;
    }

    .intro-box h2 {
        font-size: 22px;
    }

    .intro-box p {
        font-size: 16px;
    }

    .slider-4__item h2 {
        font-size: 30px;
    }

    .slider-4 .slick-prev {
        left: 0;
    }

    .slider-4 .slick-next {
        right: 0;
    }

    section.home-intro {
        padding: 0 20px;
    }

    .home-tuyendung {
        padding: 20px;
    }

    .home-video {
        padding: 20px;
    }

    .home-event {
        padding: 20px;
    }

    .home-event h1 {
        font-size: 30px;
    }

    .footer-main {
        flex-wrap: wrap;
    }

    .footer-left-logo {
        width: 100%;
        text-align: center;
    }

    .footer-right {
        width: 100%;
        flex-direction: column;
        padding: 0 20px;
        text-align: center;
        margin-top: 20px;
    }

    .footer-left-logo img {
        width: 100%;
        margin: auto;
    }

    .home-intro .btn-readMore {
        margin-bottom: 20px;
    }

    .home-intro .intro-box:first-child {
        margin-bottom: 20px;
    }

    #home-covid .title-border-right.title, .home-tuyendung .title-border-right.title {
        text-align: center;
        border: none;
    }

    .home-event {
        min-height: 300px;
        background-position: center;
    }

    .text-sm-center {
        text-align: center;
    }

    .df-card {
        margin-bottom: 40px;
    }

    .after-border {
        padding-right: 0 !important;
    }

    .after-border:after {
        content: none !important;
    }

    #home-covid p {
        font-weight: 500;
        text-align: center;
    }

    .home-ourproduct__text {
        text-align: center;
    }

    .home-ourproduct__text h1 {
        font-size: 46px;
    }

    .home-ourproduct__text p {
        margin-bottom: 20px;
    }

    .image-s{
        border-radius: 200px;
    }

    .border-bottom,
    .border-right {
        border: unset !important;
    }

    .nav-pills .nav-item {
        flex: 0 0 100%;
    }

    .btn-thele {
        min-width: 100%;
    }

    .slider-item__boxText {
        padding-top: 50px;
    }

    .slider-item__boxText h1 {
        font-size: 38px;
    }

    .banner {
        min-height: 400px;
    }

    .slider-item__boxText h1 {
        font-size: 28px;
    }

    .title-border-right.title h2 {
        font-size: 28px;
        text-align: left;
    }

    #home-covid p {
        text-align: left;
    }

    .card-covid figcaption h3 {
        font-size: 12px;
    }

    .card-covid p {
        font-size: 14px;
    }

    .home-ourproduct__text h1 {
        font-size: 28px;
    }

    #home-ourproduct {
        padding-top: 0px;
    }

    .home-ourproduct__img {
        margin-top: -45px;
    }


    .home-ourproduct__img:before {
        right: -15px;
    }

    #home-services h2 {
        font-size: 28px;
    }

    h2.text-danger.font-weight-bold.mb-4.mt-4 {
        font-size: 28px;
    }


    .footer-bottom li {
        font-size: 12px;
    }
}


/* AIA CSS */

.df-thumbnail {
    display: block;
    position: relative;
}

.df-overlay {
    position: absolute;
    background: #b8123ed1;
    width: 100%;
    bottom: 0;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 0px 0px 5px 5px;
}

.df-overlay span {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
}

.df-link {
    margin-top: 20px;
    text-align: center;
}

.df-thumbnail img {
    width: 100%;
}

.df-link a {
    text-transform: uppercase;
    text-decoration: underline;
    color: #3E3E3E;
    font-size: 19px;
    font-weight: 600;
    transition: .3s ease all;
}

.df-card:hover {
    cursor: pointer;
}

.df-card:hover > .df-link a {
    color: #B8123E;
}

.after-border {
    height: 100%;
    position: relative;
    padding-right: 14%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.after-border:after {
    content: '';
    height: 34%;
    width: 5px;
    background: #B8123E;
    position: absolute;
    right: 0;
    top: 32.5%;
}

.after-border h2 {
    color: var(--primary-color);
}

figcaption.d-none-hv {
    bottom: 0;
    opacity: 1;
    z-index: 2;
}
@media (max-width: 640px){
    .footer-right p:last-child{
        font-size: 30px;
    }
    .banner .bg-fill{
        background-size: cover;
        background-position: center right;
    }
    .banner .slider-item__boxText{
        max-width: 100%;
        text-align: center;
    }
    .home-intro .text-danger{
        font-size: 19px !important;
    }
    .youtube{
        margin-left: 15px
    }

    .home-services__slider .slick-dots{
        bottom: 0;
    }

    .home-services__slider {
        overflow: hidden;
        min-height: 350px;
    }
    .slider-item__boxText h1 {
        font-size: 28px;
    }

    .title-border-right.title h2 {
        font-size: 28px;
        text-align: left;
    }

    #home-covid p {
        text-align: left;
    }

    .card-covid figcaption h3 {
        font-size: 12px;
    }

    .card-covid p {
        font-size: 14px;
    }

    .home-ourproduct__text h1 {
        font-size: 28px;
    }

    #home-ourproduct {
        padding-top: 0px;
    }

    .home-ourproduct__img {
        margin-top: -45px;
    }


    .home-ourproduct__img:before {
        right: -15px;
    }

    #home-services h2 {
        font-size: 28px;
    }

    h2.text-danger.font-weight-bold.mb-4.mt-4 {
        font-size: 28px;
    }


    .footer-bottom li {
        font-size: 12px;
    }

    .slick-next {
        right: -15px !important;
    }
    .slick-prev{
        left: -30px !important;
    }



}

@media(max-width: 640px){
.youtube {
 position:relative;
 padding-bottom:56.25%;
 padding-top:30px;
 height:0;
 overflow:hidden;
 }

.youtube iframe, .youtube object, .youtube embed {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 }
 .menu-item{
    padding: 15px;
 }
}
.jus_content{
    text-align: justify;
}
.content-modal p{
    text-align: justify;
    padding: 15px;
}
.otw-row{
    max-width: 1100px;
}
.slider-item__boxText {
    top: 50%;
    left: 20%;
    position: absolute;
}
h1.text-uppercase {
    color: #ff0000;
}
h1.text-uppercase > p {
    color: #ff0000;
}
ul#menu-mobile {
    width: 0;
    height: 0
}

nav#menu-mobile {
    z-index: 9999
}